.tile{
    width: 25%;
    // background-color: lightcoral;
    float: left;
    height: 100px;
    text-align: center;
    justify-content: center;
    overflow: hidden;
    img{
        padding: 2px;
    }
}